/*********************************/
/* VARIABLES */

$titleColor: #333; 
$textColor: #666; 
$textColorLight: #888; 
$grey: #F0F0F0;
$white: #FEFDFB;
$white2: #fbfbfb;
$paleblue:#e0fffc;
$paleblueDarker:#ebfffd;

$paddingViews:  1.2rem 0rem;
$headerHeight: 8rem;
$headerHeightM: 6rem;

$indexTop:100;
$indexMedium:90;
$indexLow:80;



