@import "Utility.scss";

.container, .container:focus{
    background-color:$paleblue;
    color:$textColorLight;
    border:1px solid $paleblue;
    padding: 0rem 1.2rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 3.4rem;
    font-weight: 600;
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 0.2s linear;
   }
   
   .container:hover  {
    background-color:$paleblueDarker;  
 }
